*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
    font-weight: bold;
}

/*SIDEBAR*/
#sidebar{
    border-top-right-radius: 60px;
    border-bottom-right-radius: 50px;
    width: 5vw;
    height: 90vh;
    margin-top: 30px;
    padding-bottom: 30px;
    position: fixed;
    background: linear-gradient(#B793C9, #A2BEDC);
    opacity: 80%;
    box-shadow: 2px 2px 4px rgba(255, 255, 255, 0.642);
}
    .logo{
        margin-top: 20px;
    }
    .sideIcon{
        padding-top: 50px;
        margin-left: 6px;
    }
    .sideIcon img{
        height: 70%;
        width: 70%;
    }

/*BACKGROUND*/
#wrapper{
    height: 101%;
    width: 100%;
    flex-wrap: wrap;
    background: linear-gradient(#4E499E, #042440);
}
#mainBG{
    margin-left: 13%;
    margin-right: 10%;
}

/*HEADER*/
.title{
    padding-top: 20px;
    margin-bottom: -15px;
    color: white;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.642);
    font-size: 70px;
}
#header p{
    color: #A2BEDC;
    opacity: 70%;
    font-size: 14px;
    padding-left: 3px;
}

/*NAVIGATION*/
#navigation a{
    font-size: 22px;
    color: #D26B9D;
    padding-right: 100px;
    text-decoration: none;
    padding-left: 100px;
    margin-top: 10px;
    cursor: pointer;
}
#navigation a:hover{
    color: #B793C9;
    text-shadow: white;
}

/*ABOUT US*/
#aboutUs h1{
    padding-top: 25px;
    margin-bottom: -10px;
    font-size: 50px;
    text-align: center;
    line-height: 50px;
    background-image: linear-gradient(#A9DFE2, #FDB3CA);
    color: transparent;
    background-clip: text;
    text-shadow: 2px 2px 4px rgba(255, 255, 255, 0.642);
}
#aboutUs img{
    height: auto;
    width: 12vw;
    border-radius: 100%;
    box-shadow: 2px 2px 4px rgba(79, 194, 255, 0.642);
    padding: 5px 5px;
    margin: 20px;
    margin-left: 42%;
}
#aboutUs h5{
    color: white;
    font-size: x-large;
    text-align: center;
}
#aboutUs p{
    font-family: "Waiting for the Sunrise", cursive;
    font-weight: 400;
    font-style: normal;
    color: #A2BEDC;
    text-align: justify;
}
#aboutUs h6{
    color: #A2BEDC;
    text-align: center;
}
.boxAboutUs{
    padding: 30px;
    background: linear-gradient(#4E499E, #042440);
    border-radius: 5%;
    box-shadow: 2px 2px 2px rgba(79, 194, 255, 0.642);
}

/* SOCIALS */
#socials{
    margin: 0 9rem 0 9rem;
}
#socials h2{
    background-clip: text;
    color: transparent;
    background-image: linear-gradient(#FDB3CA, #A9DFE2);
    font-size: 30px;
    text-align: center;
}
#socials h3{
    color: white;
    font-weight: 200;
    opacity: 60%;
}
#socials p{
    color: white;
    font-weight: 100;
    opacity: 60%;
    margin: 0rem 2rem 0rem 2rem;
}

#socials img{
    width: 5rem;
    height: auto;
    border-radius: 1.5rem;
    opacity: 60%;
}
    #socials img:hover{
        opacity: 100%;
        box-shadow: 3px 3px 3px rgba(79, 194, 255, 0.642);
    }

/*FOOTER*/
#footer{
    text-align: center;
}
.title2{
    padding-top: 20px;
    margin-bottom: -10px;
    color: white;
    font-size: 50px;
}
.info{
    padding-top: 20px;
    padding-bottom: 50px;
    margin-bottom: -10px;
    color: white;
    font-size: 20px;
}
#footer p{
    color: #A2BEDC;
    opacity: 70%;
    font-size: 16px;
    padding-left: 3px;
}